TOPIC_DB_PATH=./chroma_db_demuc
TEXT_DB_PATH=
ST_MODEL_PATH=keepitreal/vietnamese-sbert
QA_MODEL_PATH=namngo/videberta-xsmall-finetuned-squad
MYSQL_ROOT_PASSWORD=123456789
MYSQL_DATABASE=qna
MYSQL_HOST=qna-mysql
MYSQL_PORT=3306
REDIS_HOST=redis
ACCESS_TOKEN_KEY=VN-Law-Advisor
HF_INFERENCE_API=https://hm78d3nz1mmn6cjr.us-east-1.aws.endpoints.huggingface.cloud
HF_TOKEN=your_huggingface_token_here
GEMINI_API_KEY=your_gemini_api_key_here